body {
  max-width: 1000px;
  margin: auto;
  font-size: 17px;
}

p {
  line-height: 1.6;
}

.navbar {
  font-size: 1.05rem;
}

h1 {
  margin-top: 0.5em;
}

a {
  text-decoration-thickness: 0.08em;
  text-underline-offset: 0.18em;
}

.bi {
  margin-right: 0.75rem;
}
